<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>向一席致敬</title>
</head>
<body style="width: 960px;background-color: azure;">
<h1>生活有的时候真的很累</h1>
    <h3 style="text-indent:2em;">现实就是现在又是凌晨了，感觉生活还不是自己想要的样子，还有很多地方可以努力做的更好，
        但是想法总是那么多，时间总是那么的少，好多事情都还没有去做！大家有空闲时间的时候可以静下心来，上一席看看，觉得能
        在里面有些感触吧！简单点说也算是听别人讲故事吧！</h3>
    <a href="http://yixi.tv">yixi.tv|听君一席话</a>
<hr>
<div style="margin-left: 582px"; class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>