<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>知识应该是免费的</title>
</head>
<body style="width: 960px;background-color: azure;">
<h1>追求知识不应该被金钱限制</h1>
<h3 style="text-indent:2em;">从上幼儿园开始家里就为了给我创造好的学习环境，四处奔波，为的就是让我学习到好的知识，
    享受好的教育，但是那会儿的我们怎么可能知道父母的心思。现在出入社会工作了，才知道有些知识是以前学校里教的。为了找到一
    份工作，得有个手艺啊，社会上就有了各种各样的培训机构，有点是为了给你证明的（毕业证），有的是为了赚钱的。不知道为啥有
    的时候真的很反感这些商业气息！我现在的工作是程序员，有点时候后悔自己没有高学历，看不懂英语，数学不好，经常被一些人鄙
    视，但是我现在也想努力学习啊，而且是发自内心的，但是怎么办呢，图书馆借书？我真不知道我家附近哪儿有，难不成跑到国家图
    书馆借本书回家看。比如说我想学习android，网上百度一下，前几个几乎都是培训结构的推广链接，为了啥？赚钱呗，然后各种铺
    天盖地的广告和夸大其词就来了。知识难道不是应该无私的传递嘛？每个人都有享受知识得权利吧，没钱就没有知识，这是不应该的
    吧！好多山里的穷孩子们，不就是因为没有钱嘛，就不能学到知识。没有知识怎么改变生活。公开课是个很不错的东西！吐槽那么多
    其实就是想推广一下公开课的好处！网易有个公开课，MOOC（大型开放式网络课程）！
    <a href="http://open.163.com/cuvocw/">中国大学视频公开课_网易公开课</a>
    <a href="http://study.163.com/">专业的实用技能学习平台 - 网易云课堂</a>
</h3>
<hr>
<div style="margin-left: 582px"; class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a></div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>